
body{
    margin: 0;
}

h1{
    text-align: center;
    text-transform: uppercase;
    user-select: none;
   
  }


  .container-fluid{
      user-select: none;
  }


  p{
    text-align: center;

  }


.text{
    padding: 50px;
}

.container-sessoes-index{
    text-align: center;
    user-select: none;
}


.col{
    padding: 60px;
}

.card{
    width: 340px;
}

.text-muted{
    display: block;
   
}

.text-muted a {
    text-decoration: none;
    color: white;
}

.text-muted a:hover{
    color: #0D6EFD;
}



.card img{
    width: 250px;
    padding: 10px;
    cursor: pointer;
}
.card-group{
    width: 100%;
}


iframe{
    padding: 20px;
}


.d-block w-100{
    width: 100%;
    height: 200px;
}